.custom-button {
  width: 100%;
  background-color: rgb(4, 14, 30) !important;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-align: start;
  color: rgb(0, 250, 217) !important;
}

.nav-link {
  border-radius: 50px !important;
}
